<h2>Licence Text Comparison Tool</h2>
<%= render partial: 'family_trees/show', locals: { family_tree: nil, family_select_box: true } %>
<%= render partial: 'licences/compare', locals: { licence_a: nil, licence_b: nil, comparison_html: nil,
                                         licence_select_box: true } %>