
<div id="footer-wrap">

  <div class="col-a">
    <h3>We are open!</h3>
    <p>Want to help expand CLIP's database of licensing information?
      You can add a new license with our user-friendly
      <%= link_to "licence editor", new_licence_path %>.</p>
    <p>Have an idea for a new licencing tool? Our code is open source and available through our
      <%= link_to "GitHub repository", "http://github.com/kmewhort/clip "%>. Our data is open data and
      available through our <a href="/api">API</a>.</p>

    <h3>Other Resources</h3>
    <p>We recommend the following resources for further information on open licences:</p>
    <div class="footer-list">
      <ul>
        <li><a href="http://www.cippic.ca/open_governance">CIPPIC Open Licensing Project</a></li>
        <li><a href="http://opendefinition.org/">The Open Definition</a></li>
        <li><a href="http://okfn.org/">Open Knowledge Foundation</a></li>
        <li><a href="http://www.creativecommons.org">Creative Commons</a></li>
      </ul>
    </div>
  </div>

  <div class="col-b">

    <h3>About CLIP</h3>

    <p><a href="http://www.cippic.ca"><%= image_tag "cippic-small.png", class: "float-left" %></a>
      The CIPPIC Open Licensing Project (CLIP) is an initiative of the <a href="http://www.cippic.ca">Samuelson-Glushko Canadian Internet Policy and Public
      Interest Clinic</a>, a public interest technology law clinic at the Faculty of Law, Common Law Section, University of Ottawa.<br>This is a <em>beta</em> version of the project. The information may contain errors.  We will also be adding additional licenses and new features in the future!</p>

    <p><a href="http://geoconnections.nrcan.gc.ca/"><%= image_tag "geoconnections-small.png", class: "float-left" %></a>
      Financial support for the project provided by <a href="http://geoconnections.nrcan.gc.ca/">GeoConnections</a>, a national collaborative initiative
      led by National Resources Canada.</p><p>GeoConnections supports the integration and use of Canadian Geospatial
    Data Infrastructure (CGDI), an on-line resource that improves the sharing, access and use of open
    geospatial information.</p>

  </div>
</div>