<div id="ratings-info">
  <h2>CLIPol Openness Ratings</h2>
  <p>The CLIPol openness rating system awards each licence a Gold Star, Silver Star, Bronze Star, or no stars, based on our
     benchmark scores for the licence (see the "Benchmarks" tab of each individual licence page for details on the scoring system).
     The scores and stars accord to the following criteria:</p>

  <%= render partial: "scores/stars", locals: { licence: nil, infopage: true } %>
</div>