<% if licence.obligation.obligation_attribution || licence.obligation.obligation_copyleft ||
      licence.obligation.obligation_modifiable_form || licence.obligation.obligation_notice %>
<p>You must:</p>
    <ul>
      <% if licence.obligation.obligation_notice %>
        <li><strong>Retain the original copyright notices</strong> and disclaimers to inform downstream users of the license conditions which apply to the original work</li>
      <% end %>

      <% if licence.obligation.obligation_attribution %>
        <li><strong>Provide attribution</strong> to the original authors</li>
      <% end %>

      <% if licence.obligation.obligation_modifiable_form %>
        <li>Provide the work in a <strong>modifiable form</strong> that others can easily edit and add to (for example, you must provide the source code of any software program)</li>
      <% end %>

      <% if licence.obligation.obligation_copyleft %>
        <li><strong>Share your modifications</strong> with others under the exact same license as the original work (for further details, see <a href="#copyleft_clauses">Share-alike / Copyleft</a> below)</li>
      <% end %>
    </ul>
</p>
<% else %>
  <p>This license imposes <strong>no major obligations</strong>.  Distribute the work and give others access to it at will!</p>
<% end %>
