<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Submission received for a new licence or licence update:</p>
<%= simple_format @licence_yaml.to_s %>
</body>
</html>

