<% if licence.disclaimer.disclaimer_warranty %>
  <p>The licensor makes <strong>no guarantee</strong> to you as to:
      <ul>
        <li>
          <strong>The quality of the work</strong>. Keep in mind that the work may contain inaccuracies and errors.
          It may be entirely unsuitable for your purpose.
        </li>

        <% if !licence.disclaimer.warranty_noninfringement %>
        <li>
          <strong>The clearance of rights</strong>. It is possible that the licensor might not actually own all of the
          rights that the license claims to grant. If this is the case, you could inadvertently infringe the copyright of
          a third party -- and you will bear the full responsibility of this infringement.
        </li>
        <% end %>
      </ul>
  </p>
<% end %>

<% if licence.disclaimer.warranty_noninfringement %>
  <p>The licensor does include a "<strong>noninfringement warranty</strong>", providing a guarantee that he or she owns
    all of the rights which the license claims to grant.
  </p>
<% end %>

<% if licence.disclaimer.disclaimer_liability %>
  <p>The license also contains a general <strong>disclaimer of liability</strong>. In most cases, you cannot sue the
    licensor, even if you suffer injuries or financial harm due to errors, inaccuracies, or faults on the part of the licensor.
  </p>
<% end %>

<% if licence.disclaimer.disclaimer_indemnity %>
  <p>You must additionally <strong>indemnify</strong> the licensor for lawsuits that relate to your use of the work.
    That is, in certain cases, if someone else sues the licensor, it is still you who must pay for all of the licensor's
    legal costs and any damages (even if the licensor is at fault).
  </p>
<% end %>