<div class="licence-changes checkbox-group field">
  <div class="label-wrapper">Licensor's unilateral changes to the license are:</div>
  <div class="input-wrapper">
    <span>
      <%= f.check_box :licence_changes_effective_immediately %>
      <%= f.label :licence_changes_effective_immediately, "Effective immediately" %>
    </span>
  </div>
</div>