<div id="licence-compare">
  <div id="licence-diff" class="panel">
    <% if comparison_html.nil? %>
      <em>No licences selected for comparison.</em>
    <% else %>
      <%= comparison_html.html_safe %>
    <% end %>
  </div>
</div>