<div id="licence-edit-container">
  <div class="highlight" id="api-note">Spot an an error in our information for <strong><%=  licence.title %></strong>? Please help us correct it below!
  </div>

  <div id="form-wrapper">
    <%= render 'form' %>
  </div>

  <div id="json-preview-wrapper">
    <div id="json-preview"></div>
  </div>
</div>