<h2>Rights Clearance Risks</h2>

TODO: patents?

<p>The licensor cannot grant you any right to use a work for which she or he does not actually own the copyright. For
  example, an open source software application may incidentally include copyrighted graphical icons which are not
  licensed. In this case, by using or redistributing the open source software application, you also infringe copyright;
  the copyright owner could hold you responsible.  Because copyright is "strict liability", it is not relevant whether
  you were even aware of the infringement.</p>

<% if licence.disclaimer.warranty_noninfringement %>
    <p>However, this license does provide a warranty of noninfringement, providing you some protection against this risk. The
    licensor guarantees that all rights are either owned or properly cleared.</p>
<% else %>
    <p>Although a few open licenses provide a warranty that all copyright in the work has been properly cleared (a warranty of
      noninfringement), this license does not. This means that you are responsible for double-checking that the licensor
      actually owns the works which the license purports to grant. Ultimately, this is a difficult task for larger works and
      you will likely need to accept some risk that you may accidentally infringe copyright where an included work is not
      properly licensed.</p>
<% end %>

<h2>Liability for Defects and Inaccuracies</h2>

<p>If a licensor is "negligent" in providing works which are defective or contain inaccurate information, the law generally
  holds the licensor responsible for any harm done. However, given that openly-licensed works are given away for free and
  often to a vast number of users, almost all open licenses attempt to disclaim this default responsibility.</p>

<% if license.disclaimer.disclaimer_warranty %>
    <p>Fortunately for license users, this license does NOT contain a disclaimer of responsibility.  The default legal rules apply
      and you may hold the licensor responsible for negligence in providing accurate and safe materials.</p>
<% else %>
    <p>This licence is no exception. It contains a general disclaimer of liability which, in most cases, will release the
      licensor of legal responsibility for defects, inaccuracies, or errors.  By using the licensed material, you're agreeing
      to do so entirely at your own risk.</p>
<% end %>
<% if license.disclaimer.disclaimer_indemnity %>
    <p>This license also goes further than most open licenses and requires you to indemnify the licensor against lawsuits from other
      parties. For example, if you redistribute the work as part of your own project or product and one of your customers is harmed by
      a defect, that user might choose to take legal action against the licensor.  In this case, you will be responsible for defending
      the licensor and paying any damages awarded against the licensor.</p>
<% end %>

<h2>Jurisdictional Legal Risks</h2>

<p>If a lawsuit arises between you and the licensor, it is more expensive to conduct the legal action in another country.
  A "choice of forum" clause in the license indicates the jurisdiction in which any related lawsuit should be held.</p>

<% if licence.conflict_of_law.forum_of == 'defendant' %>
    <p>In this case, the licence indicates a choice of forum in favour of the defendant's jurisdiction. This helps deter lawsuits;
    if you commence a legal action against the licensor, it will be more expensive for you; if a licensor commences a
    legal action against you, it will be more expensive for the licensor.</p>
<% elsif licence.conflict_of_law.forum_of == 'unspecified' %>
    <p>In the case, the license simply does not specify a forum. This means that the courts will decide the appropriate and
      most convenient forum for any lawsuits.</p>
<% elsif licence.conflict_of_law.forum_of == 'licensor' %>
    <p>In this case, the license specifies a choice of forum in favour of the plantiff's jurisdiction. This increases the
    legal risk for you, as it will be more expensive to defend any lawsuits against you.</p>
<% elsif licence.conflict_of_law.forum_of  == 'specific' %>
    <p>In the case, the license identifies a specific jurisdiction for all lawsuits, whether they are commenced by you or the
    licensor.  For most licenses, this specific jurisdication is that of the licensor. Thus, if you reside in a different
    location, any lawsuits may be more expensive for you to commence or defend.</p>
<% end %>







This license...

The license also ...

License Termination

If you breach the terms of a licence, the ordinary legal remedy for the licensor is to hold you responsible for any harm which arises out of the mistake. However, because it can be difficult to identify any such actual harm caused by breaching an open license, many open licenses add an additional remedy that the license automatically terminates as soon as you breach any clause.

However, this licence does not do so.  The default legal rules apply and the license will not be revoked through an indvertant or minor breach; however, you should certainly still take steps to avoid any breach and ensure that you remedy any such breach as soon as it comes to your attention.

This license takes this approach.  This creates a risk that you could lose all rights to use the work through an inadvertant or minor breach, such as perhaps a mistake in attribution. If your project or business depends on using the material, such a situation would be highly problematic.  Fortunately, the license also contains a automatic re-instantement clause.




















