<!-- content -->
<div id="content-outer" class="clear">
  <div id="content-wrap">
    <div id="content">
      <div id="left">
        <% licence_info_categories.each do |key,str| %>
            <div class="entry">
              <h3><%=  content_tag :a, str, name: key %></h3>
              <%= #TODO render key.to_s + "/show"
              %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- sidebar -->
<div id="right">
  <div class="sidemenu">
    <h3>Go to</h3>
    <ul>
      <% licence_info_categories.each do |key, str| %>
          <li>
            <%= link_to str, "#" + key.to_s %>
          </li>
      <% end %>
    </ul>
  </div>
</div>