<div id="metadata">
  <div class="highlight" id="api-note"><strong>Note:</strong> You may also retrieve this data through our
    <a href="/api">JSON API</a>.
  </div>
  <%= tag :div, id: 'json-data', 'data-url' =>  licence_path(licence, format: :json) %>
</div>