<div id="form-wrapper">
  <h1>Edit <em><%= @licence.title %></em> licence</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @licence %> |
  <%= link_to 'Back', licences_path %>
</div>

<div id="json-preview-wrapper">
  <div id="json-preview"></div>
</div>