<% if licence.conflict_of_law.forum_of == "unspecified" %>
  <p>The licence <strong>does not specify a forum</strong> for any lawsuits. If a legal dispute arises between you and
    the licensor, courts will make their own determinations on the proper location for a hearing.
  </p>
<% elsif licence.conflict_of_law.forum_of == "licensor" %>
  <p>If a legal dispute arises between you and the licensor, a <strong>court at the location of the licensor</strong>
   must hear the dispute.  If this differs from your own location, a lawsuit could be more costly for you to pursue or defend.
  </p>
<% elsif licence.conflict_of_law.forum_of == "plaintiff" %>
  <p>If a legal dispute arises between you and the licensor, a <strong>court at the location of the plaintiff</strong>
    (the person filing the lawsuit) must hear the dispute.
  </p>
<% elsif licence.conflict_of_law.forum_of == "defendant" %>
  <p>If a legal dispute arises between you and the licensor, a <strong>court at the location of the defendant</strong>
    must hear the dispute. This may deter some lawsuits, as it can increase costs for would-be plaintiffs.
  </p>
<% elsif licence.conflict_of_law.forum_of == "specific" %>
  <p>If a legal dispute arises between you and the licensor, a <strong>court at the specific location named in the
    license</strong> (usually within the jurisdiction of the original licensor) must hear the dispute. If this differs
    from your own location, a lawsuit could be more costly for you to pursue or defend.
  </p>
<% else raise "Unknown choice of forum type:'" + licence.conflict_of_law.forum_of + "'"; end %>

<% if licence.conflict_of_law.law_of == "unspecified" %>
  <p>The license <strong>does not specify the particular laws</strong> that a court is to apply when resolving a dispute.
    Thus, to interpret the licence, courts will make their own determinations of the appropriate law to apply.
  </p>
<% elsif licence.conflict_of_law.law_of == "licensor" %>
  <p>To resolve any legal disputes, courts will interpret the licence based on the <strong>laws in force at the location
    of the licensor</strong>.
  </p>
<% elsif licence.conflict_of_law.law_of == "plaintiff" %>
  <p>To resolve any legal disputes, courts will interpret the licence based on the <strong>laws in force at the location
    of the plaintiff</strong> (the person filing the lawsuit).
  </p>
<% elsif licence.conflict_of_law.law_of == "defendant" %>
  <p>To resolve any legal disputes, courts will interpret the licence based on the <strong>laws in force at the location
    of the defendant</strong>.
  </p>
<% elsif licence.conflict_of_law.law_of == "forum" %>
  <p>To resolve any legal disputes, courts will interpret the licence based on the <strong>laws in force at the same
    location where the lawsuit is heard</strong>.
  </p>
<% elsif licence.conflict_of_law.law_of == "specific" %>
  <p>To resolve any legal disputes, courts will interpret the licence based on the <strong>laws in force at the specific
    location named in the licence</strong>.
  </p>
<% else raise "Unknown choice of law type.'" + licence.conflict_of_law.law_of + "'"; end %>
