<p>You are free to:</p>
    <ul>
      <% if licence.right.right_to_use_and_reproduce %>
        <li><strong>Use and reproduce</strong> the work for your own purposes</li>
      <% end %>

      <% if licence.right.right_to_modify %>
        <li><strong>Modify</strong> the work and adapt it into your own projects</li>
      <% end %>

      <% if licence.right.right_to_distribute  %>
        <li><strong>Distribute</strong> the work and share it with others</li>
      <% end %>
    </ul>
</p>

<p>However, you must <strong>NOT</strong> do any of the following:</p>
    <ul>
      <% if !licence.right.right_to_use_and_reproduce %>
        <li><strong>Use or reproduce</strong> the work, even for your own purposes</li>
      <% end %>

      <% if !licence.right.right_to_modify %>
        <li><strong>Modify</strong> or adapt the work in any way</li>
      <% end %>

      <% if !licence.right.right_to_distribute %>
        <li><strong>Distribute</strong> the work or share it with anyone else</li>
      <% end %>

      <% if licence.right.prohibits_commercial_use %>
        <li>Use the work for any <strong>commercial purposes</strong></li>
      <% end %>

      <% if licence.right.prohibits_tpms %>
        <li><strong>Lock</strong> the work with any technical protection measures (TPMs) or digital rights management (DRM)</li>
      <% end %>

      <% if licence.right.prohibits_tpms_unless_parallel %>
        <li><strong>Lock</strong> the work with any technical protection measures (TPMs) / digital rights management (DRM), unless you also provide an unlocked version</li>
      <% end %>

      <% if licence.right.prohibits_patent_actions %>
          <li>Pursue <strong>patent actions</strong> against the contributors of the work</li>
      <% end %>
    </ul>
</p>

<% @rights_covered = rights_covered(licence.right, true)
   @rights_not_covered = rights_covered(licence.right, false) %>
<% if @rights_covered.length > 0 %>
  <p>Your freedoms under this license apply
     to all <%= @rights_covered.map { |str| "<strong>" + str.downcase + "</strong>" }.to_sentence.html_safe %>
     that vest<%= "s" if @rights_covered.length == 1 %> in the work.
  <% if @rights_not_covered.length > 0 %>
     You must still ensure that you do not infringe any:
    <ul>
      <% @rights_not_covered.each do |right| %>
        <li><%= right %></li>
      <% end %>
    </ul>
  <% end %>
  </p>
<% end %>
