/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'foundation';

#header{
  @include outerRow();
}

#main-content{
  @include outerRow();
  h1 {
    font-size: 34px;
  }
  #nav, #featured {
    @include column(12);
  }
  #nav {
    margin: 0 0 24px;
  }
  a:hover {
    background-color: inherit;
  }

  #notice {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: green;
    padding: 4px 13px 6px;
  }
}

.wait {
  height: 16px;
  width: 16px;
  background-image: image-url('wait.gif');
  vertical-align: middle;
  margin: 8px;
  display: inline-block;
}