#clip .compatibility-matrix {
  tr {
    border: medium none;
  }
  tr.active {
    background-color: #2BA6CB;
  }
  th.row-label {
    vertical-align: top;
  }
  th.col-label {
    font-size: 95%;
    .instructions {
      font-style: italic;
      font-weight: normal;
      font-size: 95%;
    }
  }

  td.compatibility-data {
    margin: 0;
    padding: 4px 4px;

    table {
      border: medium none;
      background: none repeat scroll 0 0 transparent;
      margin: 0;
      padding: 0;

      td {
        margin: 1px;
        word-break: break-all;
      }
      td.compatible{
        background-color: #B4DB6F;
      }
      td.compatible:hover {
        background-color: #cbf87f;
      }
      td.incompatible{
        background-color: #C10026;
      }
      td.incompatible:hover{
        background-color: #f8002e;
      }
    }
  }

  td > span {
    display: inline-block;
    margin: 0 4px;
  }

  .ui-front, .ui-combobox-input, ul.ui-menu {
      width: 320px !important;
  }

  #add-licence-button {
    margin-top: 1px;
    vertical-align: top;
  }
  .wait {
    img {
      background: none repeat scroll 0 0 transparent;
    }
  }
}
.tooltip {
  .licence-title{
    font-size: 10pt;
    font-weight: normal;
    strong{
      font-weight: bold;
    }
  }
  .reason{
    font-size: 10pt;
    font-weight: normal;
  }
}

#compatibility-tool{
  margin-bottom: 60px;
}