#family-tree {
  p{
    margin-bottom: 2px;
    margin-top: 4px;
  }
}

.licence-similarity-tree {
  margin-top: 8px;
  svg {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .node circle {
    cursor: pointer;
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .node circle.selected {
    fill: #edffdf;
    stroke: #50db46;
  }

  .node text {
    font-size: 11px;
  }

  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
}

.tree-info {
  font-size: 80%;
  font-style: italic;
  position: relative;
  text-align: right;
  top: -28px;
}
