/*
 *= require jquery.ui.combobox
 */
#clip {

  #search-title{
    padding-left: 10px;

    h3{
      margin: 2px 0 0 0;
      padding-top: 0px;
      padding-bottom: 9px;
    }
  }

  #tools{
    padding-bottom: 32px;
    h3 {
      line-height: 1em;
    }

    #tools-links{
      span {
        width: 120px;
        height: 140px;
        border: 1px solid #999;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        padding-top: 90px;
      }
      span.compare-tool {
        background: image-url('compare_icon_small.png') no-repeat scroll 0 0 transparent;
      }
    }
  }

  ul.ui-menu {
    padding: 2px 4px;
    background: #F7F7FD;
    width: 500px !important;

    .ui-menu-item {
      clear: left;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;
    }
  }
  .ui-combobox {
    .ui-combobox-input, .ui-button {
      background: none repeat scroll 0 0 #F7F7FD;
    }
    .ui-button-icon-primary {
      background: url("/assets/jquery-ui/ui-icons_888888_256x240.png") no-repeat scroll -64px -16px transparent;
    }
  }
  .browse-link{
    padding-left: 360px;
    font-size: 88%;
  }


  #footer-wrap {
    background: image-url("dotted-lines.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 20px;
    padding-bottom: 30px;

    h3{
      font-size: 1.5em;
      line-height: 1.6em;
      padding: 0;
      margin-bottom: 0;
    }
    p{
      margin-bottom: 6px;
      font-size: 87%;
    }
  }

}