//= require KelpJSONView

@import 'foundation';

#main-content.licences {
  #form-wrapper{
    @include column(7);

    .field{
      @include innerRow();

      .label-wrapper{
        @include column(3);
      }
      .input-wrapper{
        @include column(9);
      }
    }

    fieldset.licence-info{
      margin-top: 0;
    }

    .checkbox-group, .radio-group {
      margin-bottom: 9px;

      span {
        display: inline-block;
        margin: 2px 8px 5px 0;
      }
      input, label {
        display: inline;
      }
    }
    input[type='file'] {
      margin-bottom: 10px;
    }

    .attachments {
      img, a{
        display: block;
        margin-bottom: 6px;
      }
    }
  }

  #json-preview-wrapper{
    @include column(5);
    #json-preview{
      border: 1px solid #DDDDDD;
      border-radius: 3px 3px 3px 3px;
      margin: 84px 0 0 0;
      padding: 12px 20px 12px 2px;

      p {
        font-family: Courier, monospace;
      }
      ol li {
        white-space: normal;
      }
    }
  }
  .license-list {
    .ladmin-links {
      margin-left: 10px;
      a, a:link, a:visited {
        color: #0788C3;
        font-size: 90%;
      }
    }
  }

  #featured{
    padding-bottom: 41px;
    margin-bottom: 20px;

    .image-block {
      background: none repeat scroll 0 0 #E6F1FB;
      border: 1px solid #CCDADA;
      display: inline-block;
      margin: 26px 0 26px 14px;
      padding: 12px;
      width: 276px;

      .image-backing{
        width: 250px;
        height: 250px;
        background-color: #FFF;
        text-align: center;
        display: table;
        border: 1px solid #CCDADA;

        .image-wrapper{
          display: table-cell;
          vertical-align: middle;

          img {
            border: none;
            background: none repeat scroll 0 0 #FFF;
            padding: 0;
            margin: 0;
          }
        }
      }
      .approvals{
        position: absolute;
        margin-left: 6px;
        margin-top: 10px;

        .approved, .not_approved {
          position: relative;
          top: -25px;

          img{
            padding: 4px 4px;
            border: 1px solid #aaa;
            background-color: #B4DB6F;
            border-radius: 2px;
          }
        }
        .not_approved{
          img{
            background: transparent;
          }
        }

        img {
          padding: 4px;
        }
      }
    }

    .text-block {
      border-left: 1px solid #DCF1FB;
      margin: 0 0 0 32px;
      padding: 14px 32px;
      width: 642px;

      h2{
        margin-right: 0;
        font: 2.6em Georgia,"Times New Roman",Times,Serif;
        padding-bottom: 7px;
        border: medium none;
        line-height: 0.95;
        margin-top: 7px;
      }

      p {
        margin-left: 6px;
        line-height: 15px;
      }
      .post-info{
        padding-top: 10px;
        margin-bottom: 9px;
      }

      .highlight {
        border: medium none;
        color: #8BB92E;
        background: none;
      }

      table {
        margin: 6px;
        width: 100%;

        th{
          font-size: 10pt;

          a{
            font-weight: normal;
          }
        }
        td{
         font-size: 9.5pt;
        }
        td.stars-image {
          width: 111px;
        }
      }

      .licence-versions{
        padding: 2px;
        border-bottom: 1px solid #EBEBEB;

        dt {
          margin-right: 7px;
        }
        dl.sub-nav {
          margin-bottom: 0;
          padding-bottom: 0;
        }
        dt{
          font-weight: bold;
          color: #1980AF;
        }
        a {
          cursor: pointer;
        }
        .active{
          margin-left: 0;
          a, a:visited, a:link {
            color: white;
          }
          a:hover {
            background: none repeat scroll 0 0 #0BA6F3;
          }
        }
        .inactive {
            margin-left: 0;
            border-radius: 1000px;
            a {
              color: #2BA6CB;
              cursor: pointer;
              padding: 3px 9px;
              font-weight: normal;
            }
        }
        .inactive:hover {
           background-color: #2BA6CB;
          a {
            color: #FFF;
          }
        }
      }
    }
  }
  #content-outer {
    width: 700px;
    display: inline-block;
    background: none repeat scroll 0 0 transparent;
    padding: 20px 20px 20px 0;
    vertical-align: top;
  }
  #right{
    width: 252px;
    display: inline-block;
    vertical-align: top;

    .sidemenu {
      background: url("/assets/dotted-lines.gif") repeat-x scroll left top transparent;
      margin-top: 15px;
    }
  }

  #left, #content-wrap, #content {
    width: 100%;
    padding-top: 0;

    .entry {
      padding: 9px;
    }
    h3 {
      margin: 0 0 8px;
      padding: 0;

      a{
        color: #333;
      }
    }
    p {
      margin: 8px 0 5px;
    }
    ul, ol {
      margin-top: 0;
    }
  }

  #content-wrap {
    #content{
      margin-left: 0;
    }
  }

  #tabs {
    clear: both;
    top: -60px;
    position: relative;

    dd.hide-for-small {
      background-color: #FFFFFF;
      border-right: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
      opacity: 0.8;
      position: relative;
      top: -2px;
    }
    dd.hide-for-small:first-child {
      border-left: 1px solid #E6E6E6;
    }
    dd.hide-for-small a:hover {
      background-color: #F0FBFF;
    }
    dd.right {
      float: right;
      border-left: 1px solid #E6E6E6;
      a {
        color: #348FB8;
      }
    }
    ul.tabs-content{
      margin: 0;
      padding: 0;

      #tab-content{
        clear: both;
      }
    }
  }

  #json-data {
    background: none repeat scroll 0 0 transparent;
    border: medium none;

    ol {
      margin: 10px 0 10px 20px;
      padding: 0 11px 0 20px;
    }

    .jsonhighlight{
      background: none repeat scroll 0 0 #F8FAFD;
    }
  }
}

#clip .star-rating {
  h3 {
    text-align: center;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.0;
    padding: 2px 0 0;
  }
  td.stars-description{
    text-align: right;
    p{
      font-size: 105%;
      margin-bottom: 6px;
      text-align: left;
    }
    a{
      font-size: 95%;
    }
  }
  .silver-star img{
    background: none repeat scroll 0 0 #FBFCFE;
  }
}

#licence-edit-container {
  display: table;
}

#main-content.licences #tabs #json-preview-wrapper #json-preview{
  margin: 10px 0 0 0;
}
