<% if licence.changes_to_term.licence_changes_effective_immediately %>
  <p>If the licensor updates or makes any changes to the licence, you are <strong>immediately bound</strong> by the
    new terms. You cannot keep using the work under the terms of the previous licence.
  </p>
<% else %>
  <p>Even if the licensor releases a new version of the licence with different terms, you may <strong>continue with any
    present use of the work under the original terms</strong>.</p>
  <p>However, if you retrieve an updated copy of the work, it will then come under the terms of the new license.</p>
<% end %>
